:root {
    --primary-color: black;
    --secondary-color: rgb(98, 0, 255);
    --secondary-low-opacity-color: rgb(98, 0, 255,0.8);
    --white-color:white;
    --grey-color: #dbdbdb;
  
    --blue-color: #0084ff; 
    --darkest-blue-color: #0084ff8d; 
    
  
    --github-color: rgba(0, 0, 0, 0.8);
    --github-low-opacity-color: rgba(0, 0, 0, 0.2);
  
    --instagram-color: rgba(255, 2, 132, 0.8);
    --instagram-low-opacity-color: rgba(255, 2, 132, 0.2);
  
    --linkedin-color: rgba(0, 130, 251, 0.8);
    --linkedin-low-opacity-color: rgba(0, 130, 251, 0.2);
  }
  @media (max-width:1600px) {
      section.main-screen h2{
          font-size: 4.5rem;
      }
      section.main-screen .about-me li{
        font-size: 2rem;
    }
    
    }
    @media (max-width:1200px) {
    main {
        margin-left: 2rem;
    }
    #toggle-menu-button {
        color: var(--primary-color);
        background-color: var(--darkest-blue-color);
        border-radius: 4rem;
        padding: 0.5rem 1.5rem;
        font-size: 3rem;
        cursor: pointer;
    }  
}
