:root{
  --primary-color: #2cceff;
  --primary-grey-color: #dbdbdb;

  --github-color: rgba(0, 0, 0, 0.8);
  --github-low-opacity-color: rgba(0, 0, 0, 0.4);
  
  --instagram-color: rgba(255, 2, 132, 0.8);
  --instagram-low-opacity-color: rgba(255, 2, 132, 0.4);
  
  --linkedin-color: rgba(0, 130, 251, 0.8);
  --linkedin-low-opacity-color: rgba(0, 130, 251, 0.4);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  background-color: var(--primary-grey-color);
  font-family: 'Roboto Slab', sans-serif;
}
header{
  font-size: 2rem;
}
footer{
  margin-top: 1rem;
  font-size: 2rem;
}
#copyright a{
  text-decoration: none;
  color: var(--primary-color);
}


.bg-grey{
  background-color: var(--primary-grey-color);
}

#menu-img{
display: flex;
justify-content: center;
  align-items: center;
}

#menu-img a p,#menu-img a{
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1rem;
}

main h1.name-principal{
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 1rem;
}

section.main-screen{
  display: flex;
}
section.main-screen section.about-me{
  background-color: var(--primary-color);
  border-radius: 2rem;
  padding: 0 5rem;
}

section.main-screen img{
  object-fit: cover;
  object-position: top;
  height: 99vh;
  border-radius: 2rem;
}
section.main-screen h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

section.main-screen ul{
  font-weight: bold;
  font-size: 2rem;
  border-color: var(--primary-color) !important;
}
section.main-screen ul div{
  font-weight: 400;
}

section.main-screen ul li{
  border-color: var(--primary-color) !important;
  border-width: 10rem;
  display: grid;
  padding: 2rem
}




.link-container {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  position: relative;

}

.link-name {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--github-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}


.social-medias{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.instagram-link{
  background-color: var(--instagram-color);
}
.likedin-link{
  background-color: var(--linkedin-color);
}
#instagram :hover{
  background-color: var(--instagram-low-opacity-color);
  border-radius: 1rem;
}

#github:hover {
  background-color: var(--github-low-opacity-color);
  border-radius: 4rem;
}
#linkedin:hover {
  background-color: var(--linkedin-low-opacity-color);
  border-radius: 4rem;
}