:root {
  --primary-color: #8d49fc;
  --primary-darkest-color: rgb(98, 0, 255,0.8);
  --primary-grey-color: #dbdbdb;
  --primary-darkest-grey-color: #8a8a8a;

  --blue-color: #0084ff; 
  --darkest-blue-color: #0084ff8d; 
  

  --github-color: rgba(0, 0, 0, 0.8);
  --github-low-opacity-color: rgba(0, 0, 0, 0.2);

  --instagram-color: rgba(255, 2, 132, 0.8);
  --instagram-low-opacity-color: rgba(255, 2, 132, 0.2);

  --linkedin-color: rgba(0, 130, 251, 0.8);
  --linkedin-low-opacity-color: rgba(0, 130, 251, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-darkest-grey-color);
  font-family: 'Roboto Slab', sans-serif;
}

header {
  font-size: 2rem;
}

footer {
  margin-top: 1rem;
  font-size: 2rem;
}

main {
  margin-left: 40rem;
}

#copyright a {
  text-decoration: none;
  color: var(--primary-color);
}

#copyright p {
  text-decoration: none;
  color: white;
}

.bg-grey {
  background-color: var(--primary-grey-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-menu{
  background-color: #000000;
}

#menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-img a p,
#menu-img a {
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1rem;
}

main h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 1rem;
}

section.main-screen {
  display: flex;
}

section.main-screen section.about-me {
  background-color: var(--primary-color);
  border-radius: 2rem;
  padding: 0 5rem;
}

section.main-screen img {
  object-fit: cover;
  object-position: top;
  height: 99vh;
  border-radius: 2rem;
}

section.main-screen h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

section.main-screen ul {
  font-weight: bold;
  font-size: 2rem;
  border-color: var(--primary-color) !important;
}

section.main-screen ul div {
  font-weight: 400;
}

section.main-screen ul li {
  border-color: var(--primary-color) !important;
  border-width: 10rem;
  display: grid;
  padding: 2rem
}

.link-container {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  position: relative;
}

.link-name {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--github-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.social-medias {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.instagram-link {
  background-color: var(--instagram-color);
}

.likedin-link {
  background-color: var(--linkedin-color);
}

#instagram :hover {
  background-color: var(--instagram-low-opacity-color);
  border-radius: 1rem;
}

#github:hover {
  background-color: var(--github-low-opacity-color);
  border-radius: 4rem;
}

#linkedin:hover {
  background-color: var(--linkedin-low-opacity-color);
  border-radius: 4rem;
}

#social-medias{
  background-color: var(--primary-darkest-color);
  width: 100%;
  border-radius: 5rem;
}

.social-name{
  font-size: 1.5rem !important;
}

#menu-name{
  cursor: default;
}

.active{
  background-color: var(--primary-darkest-color) !important;
}

main section#contact-informations {
  margin-top: 2rem;
  margin-right: 12rem;
  padding: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
}

main section#contact-informations h2 {
  padding: 3rem;
  font-size: 3rem;

}

main section#contact-informations p {
  margin-top: 2.6rem;
  font-size: 3rem;
}

hr{
  color: white;
}

.info{
  width: 50rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #000000;
  color: white;
  margin: 2rem;
  border-radius: 8rem;
}
section#portifolio{
  background-color: var(--primary-color);
  border-radius: 3rem;
  margin-top: 2rem;
  margin-right: 12rem;
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}
.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid var(--primary-darkest-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: var(--primary-color);
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}


.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}


.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--primary-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--primary-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: var(--primary-color);
}

.carousel-buttons{
  display: flex;
  flex-direction: column;
  width: 4rem;
  align-items: center;
  justify-content: center;
  margin-left: 13.5rem;
  margin-top: 4rem;
  position: absolute;
}

.carousel-buttons a{
  background-color: var(--blue-color);
  color: white;
  text-decoration: none;
  padding: 2rem 4rem;
  border-radius: 1rem;
  margin-top: 6rem;
  font-size: 3rem;
}

.carousel-buttons a:hover{
  background-color: var(--darkest-blue-color);
}